*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}



.container-sm {
   margin-top: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.row {
    gap: 10px;
    margin-left: 0px;
    margin-right: 0;
}

.input-result {
    height: 50px;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 28px;
    padding: 10px;
}

.btn-zero {
    width: 97px;
}